@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v20-cyrillic_latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-cyrillic_latin_symbols-regular.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-cyrillic_latin_symbols-600.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v48-cyrillic_latin_symbols-700.woff2')
    format('woff2');
}
:root {
  --color-primary-dark: #011c44;
  --color-primary-white: #fff;
  --color-brand-blue: #2b7fff;
  --color-secondary-dark: #000;
  --color-secondary-grey: #747272;
  --color-button-description: #4a4a4a;
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Play', sans-serif;
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-primary-dark);
}
.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  margin: 48px 0;
}
/* Common for all other sections */
h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
}
h2 .accent {
  color: var(--color-brand-blue);
}
h3 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}
h3 .accent {
  color: var(--color-brand-blue);
}
.section-title {
  margin-bottom: 48px;
}
/* Links */
.header-link:hover {
  font-weight: 700;
  color: var(--color-brand-blue);
}
.footer-link {
  font-size: 16px;
  color: var(--color-primary-white);
}
.footer-link:hover {
  font-weight: 700;
  color: var(--color-brand-blue);
}
/* Button */
.button {
  padding: 16px 32px;
  border: 2px solid var(--color-brand-blue);
  border-radius: 32px;
  background-color: var(--color-primary-white);
  font-weight: 600;
}
.button:active {
  background-color: var(--color-brand-blue);
  color: var(--color-primary-white);
}
.button-description {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-button-description);
}
/* hero section */
.hero-section {
  padding: 122px 0 126px 106px;
  margin: 0;
}
.hero-subtitle {
  margin-bottom: 16px;
}
.hero-title {
  margin-bottom: 40px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-transform: capitalize;
  color: var(--color-brand-blue);
}
.hero-button {
  margin-bottom: 14px;
}
/* About us section */
.about-us-section {
  margin-top: 0;
  margin-bottom: 128px;
}
.about-us-title {
  margin: 40px 0;
}
.about-us-title .accent {
  text-transform: capitalize;
}
.about-us-text {
  font-size: 22px;
  line-height: 1.73;
}
.about-us-text .accent {
  font-weight: 600;
  text-transform: capitalize;
}
.about-us-text-first-paragraph {
  margin-bottom: 40px;
}
/* Why us section */
.why-us-title {
  text-align: center;
}
.why-us-list {
  line-height: 1.33;
  color: var(--color-secondary-dark);
}
.why-us-list li {
  padding: 24px 32px;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  background-color: var(--color-primary-white);
}
.why-us-icon {
  margin: 5px 102px 8px 102px;
}
/* Procedures section */
.procedures-title {
  text-align: center;
}
.procedures-list {
  font-size: 22px;
  line-height: 1.18;
  color: var(--color-primary-white);
}
/* Contacts section */
.contacts-section {
  margin-bottom: 96px;
}
.contacts-title {
  text-align: center;
}
.form-card {
  padding: 48px 57px 48px 56px;
  border-radius: 32px;
  width: 423px;
  height: 481px;
  background-color: var(--color-primary-dark);
}
.form-card-title {
  color: var(--color-primary-white);
  margin-bottom: 32px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 18px 33px;
  margin-bottom: 16px;
  border: 2px solid var(--color-secondary-grey);
  border-radius: 32px;
  width: 310px;
  height: 52px;
}
input::placeholder {
  font-size: 13px;
  color: var(--color-primary-white);
}
input:focus {
  background-color: var(--color-secondary-grey);
}
.form-button {
  margin-bottom: 8px;
}
.privacy {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-secondary-grey);
}
.privacy .accent {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* Footer */
.copy-rights {
  font-size: 13px;
  color: var(--color-secondary-grey);
}
