body {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-primary-dark);
  background-image: url(../images/main-background.svg);
  background-repeat: no-repeat;
  background-position: center 1324px;
  background-size: contain;
}
.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  margin: 96px 0;
}
