.capitalize {
  text-transform: capitalize;
}
.brand-blue {
  color: var(--color-brand-blue);
}
.bold {
  font-weight: 600;
}
.centered {
  text-align: center;
}
.underlined {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
