:root {
  --color-primary-dark: #011c44;
  --color-primary-white: #fff;
  --color-brand-blue: #2b7fff;
  --color-secondary-dark: #000;
  --color-secondary-grey: #747272;
  --color-button-description: #4a4a4a;
  --color-footer-dark-blue: #011f4a;
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Play', sans-serif;
}
