@use '../utils/mixins' as mixins;

.about-us-section {
  margin-top: 0;
  margin-bottom: 176px;
}
.about-us-container {
  display: flex;
  gap: 32px;
}
.about-us-text-container {
  max-width: 709px;
}
.about-us-title {
  margin: 40px 0;
}
.about-us-title .accent {
  text-transform: capitalize;
}
.about-us-text {
  font-size: 22px;
  line-height: 1.73;
}
.about-us-text .accent {
  font-weight: 600;
  text-transform: capitalize;
}
.about-us-text p:not(:last-child) {
  margin-bottom: 40px;
}
.about-us-images-container {
  position: relative;
  width: 499px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
}
.about-us-image {
  border-radius: 50%;
  width: 327px;
  height: 327px;
  object-fit: cover;
}
.before-image {
  align-self: flex-start;
}
.after-image {
  align-self: flex-end;
}
.about-us-icon-star1 {
  @include mixins.about-us-star(
    343px,
    123px,
    -30deg,
    var(--color-footer-dark-blue),
    blinkScaleColor 3s ease-in-out infinite
  );
}

.about-us-icon-star2 {
  @include mixins.about-us-star(
    32px,
    480px,
    30deg,
    var(--color-brand-blue),
    blinkScaleColor 2.5s ease-in-out infinite
  );
}

.about-us-icon-star3 {
  @include mixins.about-us-star(
    270px,
    480px,
    -23deg,
    var(--color-secondary-grey),
    blinkScaleColor 2s ease-in-out infinite
  );
}
