.contacts-section {
  margin-bottom: 96px;
}
.contacts-title {
  text-align: center;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
  max-width: 1059px;
  gap: 32px;
  margin: 0 auto;
}
.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
