@use '../utils/mixins' as mixins;
@use '../utils/variables' as *;
.decoration-star1 {
  @include mixins.about-us-star(
    343px,
    123px,
    -30deg,
    var(--color-footer-dark-blue),
    blinkScaleColor 3s ease-in-out infinite
  );
}

.decoration-star2 {
  @include mixins.about-us-star(
    32px,
    480px,
    30deg,
    var(--color-brand-blue),
    blinkScaleColor 2.5s ease-in-out infinite
  );
}

.decoration-star3 {
  @include mixins.about-us-star(
    270px,
    480px,
    -23deg,
    var(--color-secondary-grey),
    blinkScaleColor 2s ease-in-out infinite
  );
}

.mobile-star {
  position: absolute;
  right: 6px;
  bottom: -54px;
  rotate: 30deg;
  fill: var(--color-footer-dark-blue);
  @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}
