.footer {
  padding: 56px 0;
  position: relative;
  height: 278px;
  padding: 56px 100px;
  background-color: var(--color-primary-dark);
  background-image: url(../images/background-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.copy-rights {
  font-size: 13px;
  color: var(--color-secondary-grey);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.footer-menu li {
  margin-bottom: 16px;
}
.footer-menu li:last-child {
  margin-bottom: 0;
}
.footer-address-list li {
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-socials {
  fill: var(--color-primary-white);
}
.footer-confidential {
  display: block;
  margin-bottom: 16px;
}
footer::after {
  position: absolute;
  width: 247px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url(../images/footer-spray.svg);
  background-repeat: no-repeat;
  content: '';
}
