@use '../utils/variables' as *;
.call-back-card {
  padding: 42px 24px;
  border-radius: 32px;
  width: 100%;
  max-width: 320px;
  height: 100%;
  min-height: 481px;
  background-color: var(--color-primary-dark);
  background-image: url(../images/background-form.svg);
  @media screen and (min-width: $bp-tablet) {
    padding: 48px 56px;
    max-width: 423px;
  }
  &__title {
    color: var(--color-primary-white);
    margin-bottom: 24px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__input {
      padding: 16px 24px;
      border: 2px solid var(--color-secondary-grey);
      border-radius: 32px;
      width: 241px;
      font-size: 13px;
      line-height: 1.15;
      color: var(--color-primary-white);
      transition: background-color 0.2s ease-in-out;
      @media screen and (min-width: $bp-tablet) {
        padding: 18px 33px;
        width: 310px;
      }
    }
    &__input::placeholder {
      font-size: 13px;
      line-height: 1.15;
      color: var(--color-primary-white);
    }
    &__input:focus {
      background-color: var(--color-secondary-grey);
    }
    &__button {
      margin-bottom: 8px;
    }
    &__privacy {
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      color: var(--color-secondary-grey);
    }
  }
}
