.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 42px 20px;
  border-radius: 48px;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
  background-color: var(--color-primary-dark);
  background-image: url(../images/modal-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-primary-white);
  }
  &__form-field {
    margin-bottom: 24px;
  }
}
