h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
}
h3 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}
.section-title {
  margin-bottom: 48px;
}
