@use '../utils/variables' as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;

  @media screen and (min-width: $bp-desktop) {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    gap: 40px;
    @media screen and (min-width: $bp-desktop) {
      padding: 32px 0;
    }
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      gap: 56px;
    }
  }
  &__address-list {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  &__socials {
    fill: var(--color-primary-dark);
  }
  &__burger {
    fill: var(--color-primary-white);
    cursor: pointer;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
