@use '../utils/variables' as *;
.hero-section {
  padding: 122px 0 126px 0;
  margin: 0 auto;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-background@2x.jpg);
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $bp-tablet) {
      margin-left: 106px;
      align-items: flex-start;
      max-width: 530px;
    }
  }
  &__subtitle {
    font-size: 12px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }
  &__title {
    margin-bottom: 32px;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 54px;
    line-height: 0.8;
    text-transform: capitalize;
    color: var(--color-brand-blue);

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
      font-size: 140px;
    }
  }
  &__button-container {
    max-width: 238px;
  }
  &__button {
    margin-bottom: 8px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 14px;
    }
  }
  &__button-description {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-button-description);
  }
}
