@use '../utils/variables' as *;
.why-us-section {
  &__title {
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    line-height: 1.33;
    color: var(--color-secondary-dark);
    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      gap: 56px;
      max-width: 1060px;
    }
  }
  &__item {
    padding: 24px 32px;
    border-radius: 32px;
    width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background-color: var(--color-primary-white);
    text-align: center;
    &__icon {
      margin: 5px 102px 8px 102px;
      height: 42px;
      width: 42px;
      fill: var(--color-brand-blue);
    }
  }
}
